<!-- APPLICATION KERNEL TEMPLATE -->
<template name="kernel">
	
	<!-- TEST CONTENT GOES HERE -->
	<header id="header" >
		<div class="headerbar">
			<div class="headerbar-left">
				<ul class="header-nav header-nav-options">
					~ Left aligned navigation items ~
				</ul>
			</div>
			<div class="headerbar-right">
				<ul class="header-nav header-nav-options">
					~ Right aligned navigation items ~
				</ul>
				<ul class="header-nav header-nav-profile">
					~ Right aligned profile dropdown menu ~
				</ul>
				<ul class="header-nav header-nav-toggle">
					~ Right aligned toggle items ~
				</ul>
			</div>
		</div>
	</header>
	<div id="base">
		<div class="offcanvas">
			~ Left off-canvas content goes here ~
		</div>
		<div id="content">
			~ Main content goes here ~
		</div>
		<div id="menubar">
			~ Menubar content goes here ~
		</div>
		<div class="offcanvas">
			~ Right off-canvas content goes here ~
		</div>
	</div>

</template>