<!-- APPLICATION KERNEL TEMPLATE -->
<template name="kernel">
	
	<!-- BEGIN LOCKED SECTION -->
		<section class="section-account">
			<div class="img-backdrop" style="background-image: url('assets/img/img16.jpg')"></div>
			<div class="spacer"></div>
			<div class="card contain-xs style-transparent">
				<div class="card-body">
					<div class="row">
						<div class="col-sm-12">
							<img class="img-circle" src="assets/img/avatar1.jpg?1403934956" alt="" />
							<h2>Daniel Johnson</h2>
							<form class="form" action="#" accept-charset="utf-8" method="post">
								<div class="form-group floating-label">
									<div class="input-group">
										<div class="input-group-content">
											<input type="password" id="password" class="form-control" name="password">
											<label for="password">Password</label>
											<p class="help-block"><a href="#">Not Daniel Johnson?</a></p>
										</div>
										<div class="input-group-btn">
											<button class="btn btn-floating-action btn-primary" type="submit"><i class="fa fa-unlock"></i></button>
										</div>
									</div><!--end .input-group -->
								</div><!--end .form-group -->
							</form>
						</div><!--end .col -->
					</div><!--end .row -->
				</div><!--end .card-body -->
			</div><!--end .card -->
		</section>
	<!-- END LOCKED SECTION -->

</template>