/*

ncIDP app-wise stylesheet
Created to override the default sytling settings of selected elements

*/

#toolContainer {
	min-height: 491px;
}

#buttonContainer {
	min-height: 345px;
}

#actionContainer {
	margin-top: 50px;
	margin-bottom: 50px;	
}

 .col-md-12 {
 	margin-top: 25px;
 	margin-bottom: 25px;
 }

 /*Declarations for massive action buttons*/

 #buttonCopy, #buttonDownload {
 	min-width: 300px;
 	max-width: 300px;
 }

 /*CORE SECTION*/

 #accordion7 {
 	margin-bottom: 0px;
 }

 #featureDivider {
 	margin-top: 0px;
 	margin-bottom: 0px;
 }

 #actionBarButtons {
 	padding-top: 8px;	
 }