/*

ncIDP app-wise stylesheet
Created to override the default sytling settings of selected elements

*/

#toolContainer {
	min-height: 491px;
}

#buttonContainer {
	min-height: 435px;
	display: table;
	width: 100%;
}

#actionContainer {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
}

#cell {
	display: table;
	width: 100%;
	height: 110px;
}

#cellChild {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
}

/*Declarations for the action buttons*/

#buttonCopy, #buttonDownload {
	min-width: 300px;
	max-width: 300px;
}

/*CORE SECTION*/

#accordion7 {
	margin-bottom: 0px;
}

#featureDivider {
	margin-top: 0px;
	margin-bottom: 0px;
}

#actionBarButtons {
	padding-top: 8px;	
}

/* SMALL VIEWPORT */

@media (max-width: 768px) {
	.vertical-center:before {
		height: auto;
		/* Or */
		display: none;
	}
}