<!-- APPLICATION KERNEL TEMPLATE -->
<template name="core">
	
	<!-- BEGIN CONTENT-->
	<div id="content">
		<section>

			<div class="section-body contain-lg">	
				<!-- BEGIN BASIC VALIDATION -->
				<div class="row">
					
					<div class="col-lg-12">
						<h1 class="text-primary">ncIDP</h1>
					</div><!--end .col -->
					
					<div class="col-lg-3 col-md-4">
						<article class="margin-bottom-xxl">
							<p class="lead">
								Chemical shift prediction from the very first principles.
							</p>
							<p>
								Validation can be added directly into your HTML.
								This way you don't have to dive into your javascript everytime you need to add some rules.
								Clientside validation can be activated when you add <code>.form-validate</code> to your form.
							</p>
						</article>
					</div><!--end .col -->
					
					<div class="col-lg-offset-1 col-md-8">
						<form class="form form-validate floating-label" novalidate="novalidate">
							<div class="card card-underline">

								<!-- CARD HEADERS -->
								<div class="card-head">
									<ul class="nav nav-tabs pull-right" data-toggle="tabs">
										<li class="active"><a href="#first3">Tamiola 2010</a></li>
										<li><a href="#second3">Schwarzinger</a></li>
										<li><a href="#third3">THE THIRD</a></li>
									</ul>
									<header><h4>LIBRARY</h4></header>
								</div>
								<!-- END OF HEADERS -->

								<div class="card-body tab-content">
									
									<div class="tab-pane active" id="first3">
										<!-- PROTEIN SEQUENCE -->
										<div class="form-group">
											<textarea name="textarea1" id="textarea1" class="form-control" rows="6" required></textarea>
											<label for="textarea1">Protein Sequence</label>
										</div>
										<!-- END OF PROTEIN SEQUENCE -->
									</div>

									<div class="tab-pane" id="second3">
										<!-- PROTEIN SEQUENCE -->
										<div class="form-group">
											<textarea name="textarea1" id="textarea1" class="form-control" rows="6" required></textarea>
											<label for="textarea1">Protein Sequence</label>
										</div>
										<!-- END OF PROTEIN SEQUENCE -->
									</div>

									<div class="tab-pane" id="third3">
										<!-- PROTEIN SEQUENCE -->
										<div class="form-group">
											<textarea name="textarea1" id="textarea1" class="form-control" rows="6" required></textarea>
											<label for="textarea1">Protein Sequence</label>
										</div>
										<!-- END OF PROTEIN SEQUENCE -->
									</div>

									<div class="form-group">
										<div class="checkbox checkbox-styled">
											<label>
												<input type="checkbox" name="terms1" required>
												<span>I have read and accepted the terms</span>
											</label>
										</div>
									</div>
								
								</div><!--end .card-body -->

								<div class="card-actionbar">
									<div class="card-actionbar-row">
										<button type="submit" class="btn btn-flat btn-primary ink-reaction">Calculate</button>
									</div>
								</div><!--end .card-actionbar -->
							</div><!--end .card -->
							<em class="text-caption">*Kamil Tamiola</em>
						</form>
					</div><!--end .col -->
				</div><!--end .row -->
				<!-- END BASIC VALIDATION -->

			</div>

		</section>
	</div>

</template>