<template name="extra_features">

	<!-- FEATURES ACCORDION STARTS HERE -->
	<div class="panel-group" id="accordion7">
		<div class="card panel" style="border-radius: 0px 0px 0px 0px; box-shadow: none;">

			<div class="card-head style-primary-bright card-head-sm collapsed ink-reaction" data-toggle="collapse" data-parent="#accordion7" data-target="#accordion7-1">

				<header class="text-default-light">Extra Processing Options</header>
				<div class="tools">
					<a class="btn btn-icon-toggle text-default-light ink-reaction"><i class="fa fa-plus"></i></a>
				</div>
				
			</div>
			
			<div id="accordion7-1" class="collapse">
				<div class="card-body style-primary-bright text-default-light">

					<p class="text-default-light"><a class="btn btn-icon-toggle btn-close text-default-light ink-reaction" href="#offset_help" data-toggle="offcanvas"><i class="md md-help"></i></a>Custom chemical shift offset corrections.</p>												
					<!-- CHEMICAL SHIFT OFFSET SPINNERS -->

						<!-- START OF ROW -->
						<div class="row">

							<div class="col-md-6">

								<div class="form-group">
									<input type="text" class="form-control style-primary-bright" id="HA_spinner" value="0.00"  data-rule-range="[-2,2]" data-msg-range="Check the offset value." />
									<label>1HA</label>
									<p class="help-block">ppm</p>
								</div>

							</div>

							<div class="col-md-6">

								<div class="form-group">
									<input type="text" class="form-control style-primary-bright" id="HN_spinner" value="0.00" data-rule-range="[-2,2]" data-msg-range="Check the offset value." />
									<label>1HN</label>
									<p class="help-block">ppm</p>
								</div>

							</div>

						</div>
						<!-- END OF ROW -->

						<!-- START OF ROW -->
						<div class="row">

							<div class="col-md-6">

								<div class="form-group">
									<input type="text" class="form-control style-primary-bright" id="13C_spinner" value="0.00" data-rule-range="[-5,5]" data-msg-range="Check the offset value." />
									<label>13C</label>
									<p class="help-block">ppm</p>
								</div>

							</div>

							<div class="col-md-6">

								<div class="form-group">
									<input type="text" class="form-control style-primary-bright" id="13CA_spinner" value="0.00" data-rule-range="[-5,5]" data-msg-range="Check the offset value."/>
									<label>13CA</label>
									<p class="help-block">ppm</p>
								</div>

							</div>

						</div>
						<!-- END OF ROW -->

						<!-- START OF ROW -->
						<div class="row">

							<div class="col-md-6">

								<div class="form-group">
									<input type="text" class="form-control style-primary-bright" id="13CB_spinner" value="0.00" data-rule-range="[-5,5]" data-msg-range="Check the offset value."/>
									<label>13CB</label>
									<p class="help-block">ppm</p>
								</div>

							</div>

							<div class="col-md-6">

								<div class="form-group">
									<input type="text" class="form-control style-primary-bright" id="15N_spinner" value="0.00" data-rule-range="[-5,5]" data-msg-range="Check the offset value." />
									<label>15N</label>
									<p class="help-block">ppm</p>
								</div>

							</div>

						</div>
						<!-- END OF ROW -->

					<!-- THE END OF THE SPINNER SECTION -->

				</div>
			</div>

		</div>
	</div>

</template>